Checks: >
  -*,
  bugprone-*,
  -bugprone-suspicious-include,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  cert-*,
  -cert-err33-c,
  security-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-deadcode.DeadStores,
  misc-*,
  -misc-include-cleaner
WarningsAsErrors: '*'
HeaderFilterRegex: ''
